li {
    list-style: none;
}

div.header {
    height:200px;
    background-color: #e1eef0;
    box-shadow: #4d5456 2px ;
    padding:20px;
}

div.main-container {
    padding-top:20px;
    padding-bottom: 20px;
}

