{% extends "base.html.twig" %}
{% block body %}

    <div class="row">
        <div class="col-8">
            {% if total > 0 %}
                <ul>
                    {% for item in prods %}
                        <li><h3><a href="{{ path('products_show', {'id': item._id}) }}">{{ item._source.title }}</a></h3>
                            <p> {{ item._source.description }}</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p><a href="{{ path('products_update', {'id': item._id}) }}">Edit</a></p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                        {% for i in 0..total_pages-1 %}
                            <li class="page-item {% if page==i %} active {% endif %}"
                            ><a page="{{ i }}" class="page-link" href="#">{{ i+1 }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
            {% if total == 0 %}
                <h3>No results</h3>
            {% endif %}
        </div>
        <div class="col-4">
            <form>
                <div class="form-group">
                    <label for="search_phrase">Search For</label>
                    <input type="text" class="form-control" id="search_phrase" placeholder="Search...">
                </div>
                <div class="form-group">
                    <label for="colors">Colors</label>
                    <select id="colors" multiple="multiple">
                        {% for color in colors %}
                            <option value="{{ color.key }}">{{ color.key }}({{ color.doc_count }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="price_range">Price from {{ min_price }} to {{ max_price }}</label>
                    <input type="range" value="{{ max_price }}" min="{{ min_price }}" max="{{ max_price }}"
                           class="custom-range" id="price_range">
                    <p>Price less than <span id="max_price_val">?</span></p>
                </div>

                <button type="button" id="go-search" class="btn btn-primary">Go!</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function () {

            $('#go-search').click(function () {
                $params.price_limit = $('#price_range').val();
                $params.q = $('#search_phrase').val();
                $params.colors = $('#colors').val();
                window.location.replace("/products/search?q=" + $params.q + '&price_limit=' + $params.price_limit + '&colors=' + $params.colors + '&page=' + $params.page);
            })

            $("#price_range").change(function () {
                $("#max_price_val").text($('#price_range').val());
                $params.price_limit = $('#price_range').val();
            });

            $('#pagination li a').click(function () {
                $page = $(this).attr('page');
                $params.page = $page;
                window.location.replace("/products/search?q=" + $params.q + '&price_limit=' + $params.price_limit + '&colors=' + $params.colors + '&page=' + $params.page);
                return false;
            })

            var $params = getParams(window.location.href);

            if ($params.q != undefined) {
                $('#search_phrase').val($params.q);
            }
            else {
                $('#search_phrase').val('');
            }

            if ($params.price_limit != undefined) {
                $('#price_range').val($params.price_limit)
            }

            if ($params.colors != undefined) {
                $('#colors').val($params.colors)
            }

            if ($params.page != undefined) {
                $('#search_phrase').val($params.q);
            }

            $('#colors option').each(function (index) {
                if($params.colors!=undefined) {
                    $queryColors = $params.colors.split(',');
                    if ($queryColors.indexOf($(this).val()) != -1) {
                        $(this).attr('selected', 'selected');
                    }
                }
            })

            $('#colors').multiselect();
            $("#max_price_val").text($('#price_range').val());

            $("form").submit(function(e){
                return false;
            });
        });

        var getParams = function (url) {
            var params = {};
            var parser = document.createElement('a');
            parser.href = url;
            var query = parser.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                params[pair[0]] = decodeURIComponent(pair[1]);
            }
            return params;
        };


    </script>
{% endblock %}
