{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}

    <h3>Variants</h3>
    <ul class="variants" data-prototype="{{ form_widget(form.variants.vars.prototype)|e('html_attr') }}">
        {% for variant in form.variants %}
            <li>
                <p>{{ form_row(variant.price) }}</p>

                <p>{{ form_row(variant.color) }}<p>
            </li>
        {% endfor %}
    </ul>

    <button type="submit">Done!</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        var $collectionHolder;
        var $addTagButton = $('<button type="button" class="add_tag_link">Add a variant</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.variants');

            $collectionHolder.find('li').each(function() {
                addVariantFormDeleteLink($(this));
            });


            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);


            $addTagButton.on('click', function(e) {
                addVariantForm($collectionHolder, $newLinkLi);
            });


        });

        function addVariantForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            addVariantFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);
        }

        function addVariantFormDeleteLink($variantFormLi) {
            var $removeFormButton = $('<button type="button">Delete this!</button>');
            $variantFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $variantFormLi.remove();
            });
        }
    </script>
{% endblock %}

{# ... #}