{% extends "base.html.twig" %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Hello {{ app.user.username }} <a href="/logout">logout</a></p>
    {% endif %}
    <div class="row">
        <div class="col-8">
            <h2>{{ product.title }}</h2>
            <p>{{ product.description }}</p>
        </div>
        <div class="col-4">
        {% for variant in product.variants %}

            <p>Color: <span>{{ variant.color }}</span></p>
            <p>Price: <span>{{ variant.price }}</span></p>
            <button onclick="alert('Dont Buy')">Buy</button>
            <hr>

        {% endfor %}
        </div>
    </div>

{% endblock %}
